<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chapatax{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                <li><a href="{{ url_for('menu') }}">Menú</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li><a href="{{ url_for('formaddreserva') }}">Añadir Reserva</a></li>
                <li><a href="{{ url_for('reservas') }}">Reservas</a></li>
                <li><a href="{{ url_for('opiniones') }}">Opiniones</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Chapatax. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
