{% extends "base.html" %}

{% block title %}Nuestro Menú{% endblock %}

{% block content %}
<h1>Nuestro Menú</h1>
<h2>Pizzas</h2>
<div class="menu-grid">
    <div class="menu-item">
        <h3>Pizza Margarita 7€</h3>
        <p>Tomate, mozzarella y albahaca</p>
    </div>
    <div class="menu-item">
        <h3>Pizza Marinara 6€</h3>
        <p>Tomate, ajo y albahaca</p>
    </div>
    <div class="menu-item">
        <h3>Pizza Diavola 9€</h3>
        <p>Tomate, mozzarella y salame picante</p>
    </div>
    <div class="menu-item">
        <h3>Pizza Pesto 9€</h3>
        <p>Tomate, mozzarella, pesto y rucula </p>
    </div>
    <div class="menu-item">
        <h3>Pizza Prociutto e Funghi 9€</h3>
        <p>Tomate, mozzarella, jamon york y champiñones</p>
    </div>
    <div class="menu-item">
        <h3>Pizza Cuatro Quesos 8€</h3>
        <p>Tomate, mozzarella, parmesano, gorgonzola y emmental</p>
    </div>
</div>
<h2>Postres</h2>
<div class="menu-grid">
    <div class="menu-item">
        <h3>Tiramisú 5€</h3>
        <p>Café, mascarpone, cacao y bizcochos</p>
    </div>
    <div class="menu-item">
        <h3>Panna Cotta 4.5€</h3>
        <p>Crema, vainilla y frutas del bosque</p>
    </div>
    <div class="menu-item">
        <h3>Cannoli 4.5€</h3>
        <p>Canutillo de masa frita relleno de ricota dulce</p>
    </div>
</div>
{% endblock %}
